<div class="page" ng-controller="GetOrganizedCtrl">
  <section class="panel panel-primary">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Get Going!</strong>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">
          <section class="panel panel-box">
            <div class="panel-top bg-success">
              <i class="fa fa-building-o text-large"></i>
            </div>
            <div class="panel-bottom bg-reverse">
              <p class="size-h3">Enterprises</p>
              <p class="text-muted">Get work from leading enterprise Buyers</p>
            </div>
          </section>
        </div>
        <div class="col-sm-4">
          <section class="panel panel-box">
            <div class="panel-top bg-danger">
              <i class="fa fa-home text-large"></i>
            </div>
            <div class="panel-bottom bg-reverse">
              <p class="size-h3">Homeowners</p>
              <p class="text-muted">Increase business to consumer Buyers in your area</p>
            </div>
          </section>
        </div>
        <div class="col-sm-4">
          <section class="panel panel-box">
            <div class="panel-top bg-primary">
              <i class="fa fa-connectdevelop text-large"></i>
            </div>
            <div class="panel-bottom bg-reverse">
              <p class="size-h3">"Connected Home"</p>
              <p class="text-muted">Start the future now with ServiceLive a leader in the Home Automation services market</p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Get Organized</strong>
    </div>
    <div class="panel-body">
      <h3>Welcome {{ companyName }}!</h3>
      <div class="callout callout-info">
        <h4>How much time will this take?</h4>
        <p>After collecting the documents you'll need to register, the process should take about 30 minutes.</p>
      </div>
      <h4>What You'll Need</h4>
      <p>You will need these documents or information about your business to get registered.</p>
      <ul>
        <li>Company legal name and DBA (doing business as) name</li>
        <li>Primary industry in which you do business such as "Home Electronics" or "General Plumbing"</li>
        <li>Main physical address</li>
        <li>Contact information such as phone numbers and email address</li>
        <li>Details for the person will be the Administrator for your ServiceLive account. <span class="highlight">We assume that's you!</span>
        </li>
        <li>Information on your business insurance. Scan and upload your insurance certificate and we can automatically populate some of your data!</li>
        <li>Information for your first Pro. If you're not going out and fulfilling on service, you'll need to enter at least one Pro who will get a background check.</li>
      </ul>
    </div>
  </section>
  <section class="panel panel-info">
    <div class="panel-heading">
      <strong><span class="glyphicon glyphicon-flash"></span> Jump In!</strong>
      <div class="pull-right" ng-click="uploadStatusClick()" ng-bind-html="uploadStatusMarkup"></div>
    </div>
    <div class="panel-body">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="emptyAlert()">{{alert.msg}}</alert>
      <h4>Get a Jumpstart by Uploading a Document</h4>
      <p>Scan or take a picture of your insurance certificate. We'll process it and pre-populate some of your information.</p>
      <div ng-click="uploadDoc()">
        <div class="drop-box">Drag and drop files here</div>
      </div>
      <div class="row" ng-show="postUpload">
        <div class="col-md-12">
          <hr>
          <p>Your document has been uploaded. We have captured this data and will use it as a part of your registration.</p>
        </div>
        <div class="col-md-4">
          <section class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Company Information</div>
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Data</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><strong>Company Name</strong>
                    </td>
                    <td>{{companyName}}</td>
                  </tr>
                  <tr>
                    <td><strong>Address 1</strong>
                    </td>
                    <td>{{companyAddress1}}</td>
                  </tr>
                  <tr>
                    <td><strong>City</strong>
                    </td>
                    <td>{{companyCity}}</td>
                  </tr>
                  <tr>
                    <td><strong>State</strong>
                    </td>
                    <td>{{companyState}}</td>
                  </tr>
                  <tr>
                    <td><strong>Zip Code</strong>
                    </td>
                    <td>{{companyZip}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
        <div class="col-md-8">
          <section class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Insurance Information</div>
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Insurance</th>
                    <th>Policy Number</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Coverage Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="insItemArray in insArray">
                    <td ng-repeat="element in insItemArray">{{element}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <a href="#/pages/companyname" type="button" class="btn btn-w-md btn-gap-v btn-primary pull-right">Next - Company Name</a>
</div>
