<div class="page" ng-controller="CompanyNameCtrl">
  <div ng-controller="AlertUserTypeCtrl">
    <alert ng-show="userIsAgent" type="danger">NOTE! You are logged in as an ServiceLive Agent acting on behalf of a prospective Provider.</alert>
  </div>
  <section class="panel panel-primary">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Business Activity</strong>
    </div>
    <div class="panel-body">
      <p>Check out the business activity for <a ng-click="openIndustry()">Home Electronics</a> in <a ng-click="openZipCode()">60179</a> in the last month!</p>
      <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3 col-xsm-6">
          <div class="panel mini-box">
            <span class="box-icon bg-success">
            <i class="fa fa-wrench"></i>
            </span>
            <div class="box-info">
              <p class="size-h2">157</p>
              <p class="text-muted"><span data-i18n="Posted Jobs"></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
          <div class="panel mini-box">
            <span class="box-icon bg-warning">
            <i class="fa fa-dollar"></i>
            </span>
            <div class="box-info">
              <p class="size-h2">$237</p>
              <p class="text-muted"><span data-i18n="Average Price"></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
        </div>
      </div>
    </div>
    <script type="text/ng-template" id="myModalIndustry.html">
      <div class="modal-header">
      <h3>Change Industry</h3>
      </div >
      <div class="modal-body">
      <p>Vehicle to change the user & #39;s industry</p>
      </div>
    </script>
    <script type="text/ng-template" id="myModalZip.html">
      <div class="modal-header">
      <h3>Change Zip Code</h3>
      </div >
      <div class="modal-body">
      <p>Vehicle to change the user & #39;s zip code</p>
      </div>
    </script>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Company &amp; Legal Name</strong>
    </div>
    <div class="panel-body">
      <p>Many companies use a public facing name that is different from the company's legal name. For example, a public facing name could be "<strong>AAA Plumbing Services</strong>" and a legal name be "<strong>Bob Smith Plumbing LLC</strong>".</p>
      <hr>
      <p>If your company's public facing name is different from your legal name, please enter both below.</p>
      <div class="row col-md-10">
        <div class="form-group">
          <label for="companyDBAName">Customer Facing or "DBA" Name</label>
          <input type="text" class="form-control" id="companyDBAName" ng-model="companyDBAName">
          <p class="help-block">Enter the name of your company by which your Customers know you.  This is sometimes called your "DBA" (doing business as) name.</p>
        </div>
        <div class="form-group">
          <label for="companyLegalName">Legal Name</label>
          <input type="text" class="form-control" id="companyLegalName" ng-model="companyLegalName" ng-click="clickLegalName()">
          <p class="help-block">Enter your legal name you use on legal documents and government forms.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Select Your Location</strong>
    </div>
    <div class="panel-body">
      <p>We found these business locations for you. Select one or enter your primary physical address.</p>
      <p>I don't see my address. I'll enter one on my own.
        <button ng-click="openEnterAddress()" class="btn btn-info btn-xs">ENTER ADDRESS</button>
      </p>
      <script type="text/ng-template" id="myModalEnterAddress.html">
        <div class = "modal-header">
        <h3>Enter Address</h3>
        </div>
        <div class="modal-body">
        <p>Modal page to enable the user to enter an updated address.</p>
        </div>
      </script>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">ADDRESS</th>
                <th class="text-center">PHONE</th>
                <th class="text-center">SELECT</th>
              </tr>
            </thead>
            <tbody>
              <tr class="active">
                <td>1</td>
                <td>
                  230 S. Wacker Drive STE#3301<br>
                  Chicago IL 60606
                </td>
                <td><a href="tel:+13125551212">312.555.1212</a></td>
                <td class="text-center">
                  <button ng-click="selectMe(1)" class="btn {{ selectButton1.color }} btn-block">{{ selectButton1.text }}</button>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  230 S. Wacker Drive, STE#3301<br>
                  Chicago, IL 60606
                </td>
                <td><a href="tel:+13125551212">312.555.1212</a></td>
                <td class="text-center">
                  <button ng-click="selectMe(2)" class="btn {{ selectButton2.color }} btn-block">{{ selectButton2.text }}</button>                </td>
              </tr>
              <tr class="active">
                <td>3</td>
                <td>
                  230 S. Wacker Drive, STE#3301<br>
                  Chicago, IL 60606
                </td>
                <td><a href="tel:+13125551212">312.555.1212</a></td>
                <td class="text-center">
                  <button ng-click="selectMe(3)" class="btn {{ selectButton3.color }} btn-block">{{ selectButton3.text }}</button>                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </section>
  <a type="button" class="btn btn-w-md btn-gap-v btn-primary pull-right" ng-click="nextPage()">Next - Account</a>
  <a type="button" class="btn btn-link pull-right">Save</a>
  <div ng-click="virtualType()" class="row">
    <i class="fa fa-keyboard-o"></i>
  </div>
</div>
