<div class="page" ng-controller="AccountCtrl">
  <div ng-controller="AlertUserTypeCtrl">
    <alert ng-show="userIsAgent" type="danger">NOTE! You are logged in as an ServiceLive Agent acting on behalf of a prospective Provider.</alert>
  </div>
  <section class="panel panel-primary">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Select Provider Networks</strong></div>
    <div class="panel-body">
      <p>Take advantage of opportunities by joining ServiceLive's Select Provider Networks (SPNs). SPNs are preferred relationships with ServiceLive's premium Buyers. <a href="">Learn More about SPNs</a></p>
      <p>Check out the SPN business activity for <a ng-click="openIndustry()">Home Electronics</a> in <a ng-click="openZipCode()">60179</a> in the last month!</p>
      <div class="row" ng-controller="FauxSPNCarouselCtrl">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div ng-class="spnClass">
            <div class="panel panel-profile">
              <div class="panel-heading bg-primary clearfix">
                <a href="" class="pull-left profile">
                <img alt="" ng-src="images/assets/logos/{{spnCurrentSlide.logo}}" class="img-circle img80_80">
                </a>
                <h3 class="ng-binding">{{spnCurrentSlide.buyer}}</h3>
                <p>{{spnCurrentSlide.title}}</p>
              </div>
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">{{spnCurrentSlide.numJobs}}</span>
                  <i class="fa fa-wrench"></i>
                  Posted Jobs
                </li>
                <li class="list-group-item">
                  <span class="badge badge-warning">{{spnCurrentSlide.avgPrice}}</span>
                  <i class="fa fa-dollar"></i>
                  Average Price
                </li>
                <li class="list-group-item">
                  <button class="btn btn-primary btn-block">Learn More</button>
                </li>
              </ul>
            </div>
          </div>
          <hr>
          <div class="text-center">
            <div class="btn-group">
              <button type="button" ng-click="spnPreviousSlide(spnCurrentSlideIndex)" class="btn btn-default"><i class="fa fa-angle-double-left"></i> See Previous SPN</button>
              <button type="button" ng-click="spnNextSlide(spnCurrentSlideIndex)" class="btn btn-default">See Next SPN <i class="fa fa-angle-double-right"></i></button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
      <button class="btn btn-info btn-xs pull-right" ng-click="openViewSPNs()">See More SPNs <i class="fa fa-chevron-right"></i></button>
      <script type="text/ng-template" id="myModalViewSPNs.html">
        <div class="modal-header">
            <h3>View SPNs</h3>
        </div>
        <div class="modal-body">
          <p>Open up new tab and dislay outstanding SPNs.</p>
        </div>
      </script>
    </div>
    <script type="text/ng-template" id="myModalIndustry.html">
      <div class="modal-header">
          <h3>Change Industry</h3>
      </div>
      <div class="modal-body">
        <p>Vehicle to change the user&#39;s industry</p>
      </div>
    </script>
    <script type="text/ng-template" id="myModalZip.html">
      <div class="modal-header">
          <h3>Change Zip Code</h3>
      </div>
      <div class="modal-body">
        <p>Vehicle to change the user&#39;s zip code</p>
      </div>
    </script>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Account Information</strong></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Address</label>
            <address>
              230 S. Wacker Drive STE#3301<br>
              Chicago, IL 60606<br>
            </address>
          </div>
          <div class="form-group">
            <label for="coBusinessPhone">Business Phone</label>
            <div class="form-inline">
              <input type="text" class="form-control" placeholder="Phone Number" ng-model="companyPhone"/>
              <input type="text" class="form-control" placeholder="Extension"/>
            </div>
          </div>
          <div class="form-group">
            <label for="coMobilePhone">Mobile Phone</label>
            <div class="form-inline">
              <input class="form-control" id="coMobilePhone" type="tel" ng-model="companyMobilePhone">
              <input ng-hide="true" type="text" class="form-control" placeholder="Extension"/>
            </div>
          </div>
          <div class="form-group">
            <label for="selectBestContact">Service Inquiries</label>
            <div>
              <select class="form-control" ng-model="companyInquiryMethod">
                <option>-- Select Method --</option>
                <option>Business Phone</option>
                <option>Mobile Phone</option>
                <option>Other Phone</option>
              </select>
              <p class="help-block">Select the best way to contact you for service inquiries.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="coFullName" class="control-label">Full Name</label>
            <div>
              <input class="form-control" id="coFullName" type="text" ng-model="companyFullName">
            </div>
          </div>
          <div class="form-group">
            <label for="coEmail" class="control-label">Email Address</label>
            <div>
              <input class="form-control" id="coEmail" type="email" ng-model="companyEmail">
            </div>
          </div>
          <div ng-hide="userTypeAgent" class="form-group">
            <label for="coUsername" class="control-label">Username</label>
            <div>
              <input class="form-control" id="coUsername" type="text" ng-model="companyUsername">
            </div>
          </div>
          <div ng-hide="userTypeAgent" class="form-group">
            <label for="coPassword" class="control-label">Password</label>
            <div>
              <input id="coPassword" type="password" class="form-control" placeholder="Enter Password" ng-model="companyPassword1"/>
            </div>
          </div>
          <div ng-hide="userTypeAgent" class="form-group">
            <div>
              <input type="password" class="form-control" placeholder="Confirm Password" ng-model="companyPassword2"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <a type="button" ng-show="showResendBtn" class="btn btn-w-md btn-gap-v btn-link pull-right">Resend Email</a>
  <a type="button" class="btn btn-w-md btn-gap-v btn-primary pull-right" ng-click="openConfirmEmail()">Next - Verify Email</a>
  <a type="button" class="btn btn-link pull-right">Save</a>
  <div ng-click="virtualType()" class="row">
    <i class="fa fa-keyboard-o"></i>
  </div>
  <script type="text/ng-template" id="myModalMail04_verify.html">
    <div class="modal-header">
        <h3>Email &amp; Account Verification</h3>
    </div>
    <div class="modal-body" ng-controller="MailVerifyCtrl">
      <section class="panel panel-default mail-container">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> View Mail</strong></div>
        <div class="panel-body">
          <div class="mail-header row">
            <div class="col-md-8">
              <h3>ServiceLive Registration - You&#39;re Almost There!</h3>
            </div>
            <div class="col-md-4">
              <div class="pull-right">
                <a href="#/mail/compose" class="btn btn-sm btn-primary">Reply <i class="fa fa-mail-reply"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-default"><i class="fa fa-print"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-default"><i class="fa fa-trash-o"></i></a>
              </div>
            </div>
          </div>
          <div class="mail-info">
            <div class="row">
              <div class="col-md-8">
                <strong>ServiceLive Provider Registration</strong> to
                <strong>me</strong>
              </div>
              <div class="col-md-4">
                <div class="pull-right">
                  3/17/15 2:11 PM
                </div>
              </div>
            </div>
          </div>
          <div class="mail-content">
            <p>{{emailFirstName}}</p>

            <p>Thank you for registering with ServiceLive. To become a ServiceLive Approved Provider you will need to set your password and follow the 3 steps below:</p>

            <ol>
              <li>Confirm your email address by clicking the link below.</li>
              <li>Complete your profile.</li>
              <li>Complete a background check for yourself or enter your first Service Pro.</li>
            </ol>

            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <button ng-click="nextPage()" class="btn btn-warning btn-block">
                  Confirm Email &amp; Account ({{emailUsername}})
                </button>
              </div>
              <div class="col-md-2"></div>
            </div>

            <blockquote>Don't know what we'd do without Servicelive.  The new mobile app has totally changed how we manage our business. <small>Jim, Licensed Electrician, IL</small></blockquote>

            <p>Thank You!</p>
            <br>
            <br>
            <br>
            <p>The ServiceLive Team</p>

          </div>
          <div class="mail-actions">
            <a href="#/mail/compose" class="btn btn-sm btn-primary">Reply <i class="fa fa-mail-reply"></i></a>
            <a href="#/mail/compose" class="btn btn-sm btn-default">Forward <i class="fa fa-mail-forward"></i></a>
          </div>
        </div>
      </section>
    </div>
  </script>
</div>
