<div class="page" ng-controller="InsuranceCtrl">
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Your uploaded document has been processed. Please verify your information
  </div>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Business Insurance</strong></div>
    <div class="panel-body">
      <p>Many Buyers require that you have the appropriate amount of insurance. Please complete the information for any insurance you have, or certify that you are not required to carry any coverage.</p>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> General Liability</strong></div>
    <div class="panel-body">
      <h4>General Liability Insurance*</h4>
      <label class="ui-radio"><input name="radio1" type="radio" value="yes"><span>Yes, my Provider Firm has this insurance and I agree to the certification set forth below. </span></label>
      <div class="form-group">
        <label class="col-sm-3 col-sm-offset-1">Coverage Amount</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" ng-model="coverageAmountGeneral">
        </div>
      </div>
      <label class="ui-radio"><input name="radio1" type="radio" value="yes"><span>No, my Provider Firm does not have this insurance and I certify that my firm is not required to have General Liability Insurance. If my firm is required in the future by applicable law or by the Buyer to have such insurance for any Service Order that my firm accepts, I certify that my firm will get the necessary General Liability Insurance before our Service Pros perform work in connection with such job. I acknowledge, on behalf of my firm, that my firm's decision not to have such insurance does not alleviate my firm of its liability for losses that would have been covered by such insurance.</span></label>
      <hr>
      <dl class="dl-horizontal">
        <dt>Status</dt>
        <dd><span class="label label-success">UPLOADED</span></dd>
        <dt>File</dt>
        <dd><a>acme_insurance.pdf</a></dd>
        <dt>Action</dt>
        <dd><button class="btn btn-info btn-xs" ng-click="openInsuranceModal('General Liability')">EDIT</button></dd>
      </dl>
      <hr>
      <div class="callout callout-danger">
        <p>I certify that my Provider Firm has general liability insurance in the amount set forth above and that my firm will maintain such insurance in good standing for the duration of our participation on ServiceLive.</p>
      </div>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Vehicle Liability</strong></div>
    <div class="panel-body">
      <h4>Vehicle Liability Insurance*</h4>
      <label class="ui-radio"><input name="radio2" type="radio" value="yes"><span>Yes, my Provider Firm has this insurance and I agree to the certification set forth below. </span></label>
      <div class="form-group">
        <label class="col-sm-3 col-sm-offset-1">Coverage Amount</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" ng-model="coverageAmountVehicle">
        </div>
      </div>
      <label class="ui-radio"><input name="radio2" type="radio" value="yes"><span>No, my Provider Firm does not have this insurance and I certify that my firm is not required to have Vehicle Liability Insurance. If my firm is required in the future by applicable law or by the Buyer to have such insurance for any Service Order that my firm accepts, I certify that my firm will get the necessary Vehicle Liability Insurance before our Service Pros perform work in connection with such job. I acknowledge, on behalf of my firm, that my firm's decision not to have such insurance does not alleviate my firm of its liability for losses that would have been covered by such insurance.</span></label>
      <hr>
      <dl class="dl-horizontal">
        <dt>Status</dt>
        <dd><span class="label label-success">UPLOADED</span></dd>
        <dt>File</dt>
        <dd><a>acme_insurance.pdf</a></dd>
        <dt>Action</dt>
        <dd><button class="btn btn-info btn-xs" ng-click="openInsuranceModal('Vehicle Liability')">EDIT</button></dd>
      </dl>
      <hr>
      <div class="callout callout-danger">
        <p>I certify that my Provider Firm has vehicle liability insurance in the amount set forth above and that my firm will maintain such insurance in good standing for the duration of our participation on ServiceLive.</p>
      </div>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Worker&#39;s Compensation Insurance</strong></div>
    <div class="panel-body">
      <h4>Worker&#39;s Compensation Insurance*</h4>
      <label class="ui-radio"><input name="radio3" type="radio" value="yes"><span>Yes, my Provider Firm has this insurance and I agree to the certification set forth below. </span></label>
      <div class="form-group">
        <label class="col-sm-3 col-sm-offset-1">Coverage Amount</label>
        <div class="col-sm-2">
          <input type="text" class="form-control"  ng-model="coverageAmountWorkers">
        </div>
      </div>
      <label class="ui-radio"><input name="radio3" type="radio" value="yes"><span>No, my Provider Firm does not have this insurance and I certify that my firm is not required to have Worker's Compensation Insurance. If my firm is required in the future by applicable law or by the Buyer to have such insurance for any Service Order that my firm accepts, I certify that my firm will get the necessary Worker's Compensation Insurance before our Service Pros perform work in connection with such job. I acknowledge, on behalf of my firm, that my firm's decision not to have such insurance does not alleviate my firm of its liability for losses that would have been covered by such insurance.</span></label>
      <hr>
      <dl class="dl-horizontal">
        <dt>Status</dt>
        <dd><span class="label label-success">UPLOADED</span></dd>
        <dt>File</dt>
        <dd><a>acme_insurance.pdf</a></dd>
        <dt>Action</dt>
        <dd><button class="btn btn-info btn-xs" ng-click="openInsuranceModal('Worker\'s Compensation')">EDIT</button></dd>
      </dl>
      <hr>
      <div class="callout callout-danger">
        <p>I certify that my Provider Firm has worker's compensation insurance in the amount set forth above and that my firm will maintain such insurance in good standing for the duration of our participation on ServiceLive.</p>
      </div>
    </div>
  </section>
  <script type="text/ng-template" id="myModalContentinsurance.html">
  <div class="modal-body">
    <section class="panel panel-default">
      <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Edit {{ insuranceName }} Insurance Details</strong></div>
      <div class="panel-body">

        <div class="row">
            <form action="#">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="insPolicy">Policy*</label>
                        <input type="text" class="form-control" id="insPolicy" ng-model="insPolicy">
                    </div>
                    <div class="form-group">
                        <label for="insAmount">Amount*</label>
                        <input type="text" class="form-control" id="insAmount" ng-model="insAmount">
                    </div>
                    <div class="form-group">
                        <label for="insIssueDate">Issue Date*</label>
                        <input type="date" class="form-control" id="insIssueDate" ng-model="insIssueDate">
                    </div>
                    <div class="form-group">
                        <label for="insExpirationDate">Expiration Date*</label>
                        <input type="date" class="form-control" id="insExpirationDate" ng-model="insExpirationDate">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="insCarrier">Carrier Name*</label>
                        <input type="text" class="form-control" id="insCarrier" ng-model="insCarrier">
                    </div>
                    <div class="form-group">
                        <label for="insAgency">Agency Name*</label>
                        <input type="text" class="form-control" id="insAgency" ng-model="insAgency">
                    </div>
                    <div class="form-group">
                        <label for="insAgencyCounty">Agency County</label>
                        <input type="text" class="form-control" id="insAgencyCounty" ng-model="insAgencyCounty">
                    </div>
                    <div class="form-group">
                        <label for="insAgencyState">Agency State*</label>
                        <span class="ui-select">
                          <select ng-model="insAgencyState">
                            <option>-- Select State --</option>
                            <option>AL - Alabama</option>
                            <option>AK - Alaska</option>
                            <option>AZ - Arizona</option>
                            <option>AR - Arkansas</option>
                            <option>CA - California</option>
                            <option>CO - Colorado</option>
                            <option>CT - Connecticut</option>
                            <option>DE - Delaware</option>
                            <option>FL - Florida</option>
                            <option>GA - Georgia</option>
                            <option>HI - Hawaii</option>
                            <option>ID - Idaho</option>
                            <option>IL - Illinois</option>
                            <option>IN - Indiana</option>
                            <option>IA - Iowa</option>
                            <option>KS - Kansas</option>
                            <option>KY - Kentucky</option>
                            <option>LA - Louisiana</option>
                            <option>ME - Maine</option>
                            <option>MD - Maryland</option>
                            <option>MA - Massachusetts</option>
                            <option>MI - Michigan</option>
                            <option>MN - Minnesota</option>
                            <option>MS - Mississippi</option>
                            <option>MO - Missouri</option>
                            <option>MT - Montana</option>
                            <option>NE - Nebraska</option>
                            <option>NV - Nevada</option>
                            <option>NH - New Hampshire</option>
                            <option>NJ - New Jersey</option>
                            <option>NM - New Mexico</option>
                            <option>NY - New York</option>
                            <option>NC - North Carolina</option>
                            <option>ND - North Dakota</option>
                            <option>OH - Ohio</option>
                            <option>OK - Oklahoma</option>
                            <option>OR - Oregon</option>
                            <option>PA - Pennsylvania</option>
                            <option>RI - Rhode Island</option>
                            <option>SC - South Carolina</option>
                            <option>SD - South Dakota</option>
                            <option>TN - Tennessee</option>
                            <option>TX - Texas</option>
                            <option>UT - Utah</option>
                            <option>VT - Vermont</option>
                            <option>VA - Virginia[G]</option>
                            <option>WA - Washington</option>
                            <option>WV - West Virginia</option>
                            <option>WI - Wisconsin</option>
                            <option>WY - Wyoming</option>
                          </select>
                        </span>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </section>

  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>

</script>
<a ng-show="showTeamLink" href="#/pages/team/general" type="button" class="btn btn-w-md btn-gap-v btn-primary pull-right">Next - Team</a>
<a ng-show="showAdminLink" href="#/pages/background" type="button" class="btn btn-w-md btn-gap-v btn-primary pull-right">Next - Background Check</a>
<a type="button" class="btn btn-link pull-right">Save</a>
</div>
