<div class="page" ng-controller="TeamPreferencesCtrl">
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Marketplace Preferences</strong>
    </div>
    <div class="panel-body">
      <p>As an Admin you have indicated you will not perform work in the ServiceLive Platform. To get work routed to your firm you need at least one Service Provider or Pro entered. Please enter that Service Provider below. You can update or add to this Service Pro's details later.</p>
      <div class="row">
        <div class="col-md-4">
          <h4><i class="fa fa-tachometer"></i> Your Progress</h4>
          <p>On step <strong>{{progressGaugeStepNum}}</strong> of <strong>4</strong></p>
            <canvas data-gauge-chart
                data-data="progressGaugeData"
                data-options="progressGaugeOptions"
                style="width: 220px; height: 110px; ">
            </canvas>
         </div>
         <div class="col-md-4">
           <h4><i class="fa fa-user"></i> Your Pro</h4>
           <h4>{{ techFirstName }}&nbsp;{{ techLastName }}&nbsp;&nbsp;<small>(#{{ techId }})</small></h4>
         </div>
      </div>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> User Permissions</strong>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <h4>Common Service Pro Permissions <small><a>Get Help</a></small></h4>
        <p>Enable permissions commonly assigned to new ServiceLive Pros.</p>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="techPermViewOrderPricing">View Order Pricing
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="techPermManageServiceOrder">Manage Service Orders
          </label>
        </div>
      </div>
      <div class="col-md-6">
        <h4>Other Service Pro Permissions</h4>
        <p>Enable permissions that are not commonly assigned to new ServiceLive Pros.</p>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="techPermManageUserProfile">Manage User Profile
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="techPermManageBusinessProfile">Manage Business Profile
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="techPermUpdateW9Info">Update W9 Information
          </label>
        </div>
      </div>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Communication Preferences</strong>
    </div>
    <div class="panel-body">
      <p>Please enter the Pro's contact information. All Pros must have at least two ways by which they can be contacted.</p>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <form role="form" class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-12">Phone*</label>
                  <div class="col-md-3">
                    <input class="form-control" type="text" id="techBusinessPhone" ng-model="techBusinessPhone">
                    <div class="help">Business Phone*</div>
                  </div>
                  <div class="col-md-2">
                    <input class="form-control" type="text" id="techBusinessPhoneExtension" ng-model="techBusinessPhoneExtension">
                    <div class="help">Extension</div>
                  </div>
                  <div class="col-md-3">
                    <input class="form-control" type="text" id="techMobilePhone" ng-model="techMobilePhone">
                    <div class="help">Mobile Phone*</div>
                  </div>
                </div>
                <hr>
                <div class="form-group">
                  <label class="col-md-12">Primary Email*</label>
                  <div class="col-md-6">
                    <input class="form-control" type="email" id="techPrimaryEmail1" ng-model="techPrimaryEmailConfirm1">
                    <div class="help">Email Address*</div>
                  </div>
                  <div class="col-md-6">
                    <input class="form-control" type="email" id="techPrimaryEmail2" ng-model="techPrimaryEmailConfirm2">
                    <div class="help">Confirm Email Address*</div>
                  </div>
                  <div class="col-md-12">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-change="useBusEmail()" ng-model="techUseBusinessEmail">Same email address as my company
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Alternate Email*</label>
                  <div class="col-md-6">
                    <input class="form-control" type="email" id="techAlternateEmail1" ng-model="techAlternateEmailConfirm1">
                    <div class="help">Alternate Email Address*</div>
                  </div>
                  <div class="col-md-6">
                    <input class="form-control" type="email" id="techAlternateEmail2" ng-model="techAlternateEmailConfirm2">
                    <div class="help">Confirm Alternate Email Address*</div>
                  </div>
                  <div class="col-md-12">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="techSendAlertsToAltEmail">Send order alerts to my alternate email address
                      </label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <a href="#/pages/team/skills" type="button" class="btn btn-w-md btn-gap-v btn-primary pull-right">Next - Skills &amp; Services</a>
  <a type="button" class="btn btn-link pull-right">Save</a>
  <div ng-click="virtualType()" class="row">
    <i class="fa fa-keyboard-o"></i>
  </div>
</div>
