<div class="page" ng-controller="TeamBackgroundCtrl">
  <div ng-controller="AlertUserTypeCtrl">
    <alert ng-show="userIsAgent" type="danger">NOTE! You are logged in as an ServiceLive Agent acting on behalf of a prospective Provider.</alert>
  </div>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Background Screen</strong>
    </div>
    <div class="panel-body">
      <p>As an Admin you have indicated you will not perform work in the ServiceLive Platform. To get work routed to your firm you need at least one Service Provider or Pro entered. Please enter that Service Provider below. You can update or add to this
        Service Pro's details later.</p>
      <div class="row">
        <div class="col-md-4">
          <h4><i class="fa fa-tachometer"></i> Your Progress</h4>
          <p>On step <strong>{{progressGaugeStepNum}}</strong> of <strong>4</strong>
          </p>
          <canvas data-gauge-chart data-data="progressGaugeData" data-options="progressGaugeOptions" style="width: 220px; height: 110px; ">
          </canvas>
        </div>
        <div class="col-md-4">
          <h4><i class="fa fa-user"></i> Your Pro</h4>
          <h4>{{ techFirstName }}&nbsp;{{ techLastName }}&nbsp;&nbsp;<small>(#{{ techId }})</small></h4>
        </div>
      </div>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Background Check</strong>
    </div>
    <div class="panel-body">
      <h4>Why do we do background checks?</h4>
      <p>Since most service orders require a home visit, to ensure continued highest quality we require that all of our Service Pro undergo a background check. This requires these easy steps:</p>
      <ol>
        <li>Explain the process and gain approval from the Service Pro to submit their background check.</li>
        <li>Click the Perform Background Check button to open the background check process form. Complete and submit.</li>
        <li>Your team member's status will be automatically update when the background check results come back. Average turn around time for results is 7-10 days.</li>
      </ol>
      <p><strong>NOTE:</strong> Administrators not performing work in the field and Dispatchers are not required to do a background check.</p>
      <h4 ng-hide="userTypeAgent">Social Security (SSN)</h4>
      <p ng-hide="userTypeAgent">To complete a background check enter your Pro's Social Security Number</p>
      <form ng-hide="userTypeAgent">
        <div class="col-md-4">
          <div class="form-group">
            <label for="techSSN">Social Security Number (SSN)*</label>
            <input class="form-control" type="text" id="techSSN" ng-model="techSSN">
          </div>
        </div>
      </form>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Conduct Background Check</strong>
      <span class="pull-right">Status:&nbsp;&nbsp;<span class="label label-default">NOT STARTED</span></span>
    </div>
    <div class="panel-body">
      <p ng-hide="userTypeAgent">Conduct the background on behalf of the Service Pro OR send an email to them to complete the background check process.</p>
      <div  ng-hide="userTypeAgent" class="col-md-6">
        <div class="well well-sm">
          <h4>Conduct the Background Check:</h4>
          <p>I will start and complete the background check on behalf of my Service Pro.</p>
          <button class='btn btn-block btn-info'>START BACKGROUND CHECK</button>
          <p class="text-muted text-small text-center">By clicking, you agree to <a href="javascript:;">terms & conditions</a> and <a href="javascript:;">privacy policy</a>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well well-sm">
          <h4>Send Email Request to Your Pro:</h4>
          <p>Email a link to complete a background check my Pro.</p>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-md-12">Primary Email Address*</label>
              <div class="col-md-12">
                <input type="text" class="form-control" ng-model="techPrimaryEmail1">
                <div class="help">Enter Primary Email address</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12">Alternate Email Address</label>
              <div class="col-md-12">
                <input type="text" class="form-control" ng-model="techAlternateEmail1">
                <div class="help">Enter Alternate Email address</div>
              </div>
            </div>
            <button class='btn btn-block btn-info'>SEND BACKGROUND REQUEST EMAIL</button>
            <p ng-hide="userTypeAgent" class="text-muted text-small text-center">By clicking, you agree to <a href="javascript:;">terms & conditions</a> and <a href="javascript:;">privacy policy</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>

  <a href="#/pages/wrapup" type="button" class="btn btn-w-md btn-gap-v btn-primary pull-right">Next - Wrap Up</a>
  <a type="button" class="btn btn-link pull-right">Save</a>
  <div ng-click="virtualType()" class="row">
    <i class="fa fa-keyboard-o"></i>
  </div>
</div>
