<div class="page" ng-controller="WrapUpCtrl">
  <div ng-controller="AlertUserTypeCtrl">
    <alert ng-show="userIsAgent" type="danger">NOTE! You are logged in as an ServiceLive Agent acting on behalf of a prospective Provider.</alert>
  </div>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Wrap Up</strong>
    </div>
    <div class="panel-body">
      <div ng-show="optAdminPartYes">
        <h4>Thank You!</h4>
        <p>You have completed the steps to get "ServiceLive Approved". Background checks usually take 7-10 days. Check back here to see your status.</p>
        <p>Check the timeline for a detailed status or continue to your ServiceLive account to add Service Pros and additional detail about your company offerings.</p>
        <div class="row">
          <div class="col-md-4">
            <h4><i class="fa fa-tachometer"></i> Profile Status</h4>
            <canvas data-gauge-chart data-data="wrapupGaugeProfileData" data-options="wrapupGaugeProfileOpts" style="width: 220px; height: 110px; ">
            </canvas>
            <p>Your Background Check is in progress</p>
          </div>
        </div>
      </div>
      <div ng-show="optAdminPartNo">
        <h4>Thank You!</h4>
        <p>You have completed the steps to get "ServiceLive Approved". Background checks usually take 7-10 days. Check back here to see your status.</p>
        <p>Check the timeline for a detailed status or continue to your ServiceLive account to add Service Pros and additional detail about your company offerings.</p>
        <div class="row">
          <div class="col-md-4">
            <h4><i class="fa fa-tachometer"></i> Profile Status</h4>
            <canvas data-gauge-chart data-data="wrapupGaugeProfileData" data-options="wrapupGaugeProfileOpts" style="width: 220px; height: 110px; ">
            </canvas>
            <p>Your Background Check is in progress.</p>
          </div>
          <div class="col-md-4">
            <h4><i class="fa fa-tachometer"></i> Profile Status</h4>
            <canvas data-gauge-chart data-data="wrapupGaugeTechData" data-options="wrapupGaugeTechOpts" style="width: 220px; height: 110px; ">
            </canvas>
            <p>Your Pro's Background Check is in progress.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Next Steps</strong>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <a href="#/ui/timeline" class="btn btn-warning btn-block">View Status Details</a>
          <hr>
          <button class="btn btn-warning btn-block">Go To Your ServiceLive Account</button>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </section>

</div>
