<div class="page" ng-controller="VerifyCtrl">
  <section class="panel panel-primary">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Provider Benefits</strong>
    </div>
    <div class="panel-body">
      <p>As a ServiceLive Provider you'll get access to great tools and offers.</p>
      <div class="row" ng-controller="FauxPromoCarouselCtrl">
        <div class="col-md-3">
        </div>
        <div class="col-sm-6">
          <div class="thumbnail">
            <img alt="" src="images/assets/{{promoCurrentSlide.image}}">
            <div class="caption">
              <h3>{{promoCurrentSlide.title}}</h3>
              <p>{{promoCurrentSlide.description}}</p>
              <button class="btn btn-primary btn-block">Learn More</button>
            </div>
          </div>
          <hr>
          <div class="text-center">
            <div class="btn-group">
              <button type="button" ng-click="promoPreviousSlide(promoCurrentSlideIndex)" class="btn btn-default"><i class="fa fa-angle-double-left"></i> See Previous Provider Benefit</button>
              <button type="button" ng-click="promoNextSlide(promoCurrentSlideIndex)" class="btn btn-default">See Next Provider Benefit <i class="fa fa-angle-double-right"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
      <button class="btn btn-info btn-xs pull-right">See More Offers <i class="fa fa-chevron-right"></i></button>
    </div>
</section>
<section class="panel panel-default">
  <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Login &amp; Verify Account</strong>
  </div>
  <div class="panel-body">
    <div class="signin-body">
      <div class="container">
        <div class="form-container">
          <form class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                  </span>
                  <input type="text" class="form-control" placeholder="Username" ng-model="companyUsername">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                  </span>
                  <input type="password" class="form-control" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
              </div>
              <div class="form-group">
                <a ng-click="openConfirmEmail()" class="btn btn-primary btn-lg btn-block">Login &amp; Verify Account</a>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/ng-template" id="myModalMailVerify.html">
  <div class="modal-header">
      <h3>Email &amp; Account Verification</h3>
  </div>
  <div class="modal-body" ng-controller="MailVerifyCtrl">
    <section class="panel panel-default mail-container">
      <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> View Mail</strong></div>
      <div class="panel-body">
        <div class="mail-header row">
          <div class="col-md-8">
            <h3>ServiceLive Registration - You&#39;re Almost There!</h3>
          </div>
          <div class="col-md-4">
            <div class="pull-right">
              <a href="#/mail/compose" class="btn btn-sm btn-primary">Reply <i class="fa fa-mail-reply"></i></a>
              <a href="javascript:;" class="btn btn-sm btn-default"><i class="fa fa-print"></i></a>
              <a href="javascript:;" class="btn btn-sm btn-default"><i class="fa fa-trash-o"></i></a>
            </div>
          </div>
        </div>
        <div class="mail-info">
          <div class="row">
            <div class="col-md-8">
              <strong>ServiceLive Provider Registration</strong> to
              <strong>me</strong>
            </div>
            <div class="col-md-4">
              <div class="pull-right">
                3/17/15 2:11 PM
              </div>
            </div>
          </div>
        </div>
        <div class="mail-content">
          <p>{{emailFirstName}}</p>

          <p>Thank you for registering with ServiceLive. To become a ServiceLive Approved Provider you will need to set your password and follow the 3 steps below:</p>

          <ol>
            <li>Confirm your email address by clicking the link below.</li>
            <li>Complete your profile.</li>
            <li>Complete a background check for yourself or enter your first Service Pro.</li>
          </ol>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <button class="btn btn-warning btn-block">
                Confirm Email &amp; Account ({{emailUsername}})
              </button>
            </div>
            <div class="col-md-2"></div>
          </div>

          <blockquote>Don't know what we'd do without Servicelive.  The new mobile app has totally changed how we manage our business. <small>Jim, Licensed Electrician, IL</small></blockquote>

          <p>Thank You!</p>
          <br>
          <br>
          <br>
          <p>The ServiceLive Team</p>

        </div>
        <div class="mail-actions">
          <a href="#/mail/compose" class="btn btn-sm btn-primary">Reply <i class="fa fa-mail-reply"></i></a>
          <a href="#/mail/compose" class="btn btn-sm btn-default">Forward <i class="fa fa-mail-forward"></i></a>
        </div>
      </div>
    </section>
  </div>
</script>
</div>
