<div id="nav-wrapper">
  <ul id="nav" data-ng-controller="NavCtrl" data-collapse-nav data-slim-scroll>
    <li><a href="#/ui/timeline"><i class="fa fa-list-ol"><span class="icon-bg bg-info"></span></i><span data-i18n="Your Progress"></span></a>
    </li>
    <li><a href="#/pages/getorganized"><i class="fa fa-info-circle"><span class="icon-bg bg-info"></span></i><span data-i18n="Get Organized"></span></a>
    </li>
    <li><a href="#/pages/companyname"><i class="fa fa-building"><span class="icon-bg bg-info"></span></i><span data-i18n="Company Name"></span></a>
    </li>
    <li><a href="#/pages/account"><i class="fa fa-user-plus"><span class="icon-bg bg-info"></span></i><span data-i18n="Account"></span></a>
    </li>
    <li><a href="#/pages/verify"><i class="fa fa-crosshairs"><span class="icon-bg bg-info"></span></i><span data-i18n="Verify"></span></a>
    </li>
    <li><a href="#/pages/administrator"><i class="fa fa-compass"><span class="icon-bg bg-info"></span></i><span data-i18n="Administrator"></span></a>
    </li>
    <li><a href="#/pages/businessprofile"><i class="fa fa-cogs"><span class="icon-bg bg-info"></span></i><span data-i18n="Business Profile"></span></a>
    </li>
    <li><a href="#/pages/insurance"><i class="fa fa-certificate"><span class="icon-bg bg-info"></span></i><span data-i18n="Insurance"></span></a>
    </li>
    <li>
      <a href="#/pages/team"><i class="fa fa-users"><span class="icon-bg bg-info"></span></i><span data-i18n="Team"></span></a>
      <ul>
        <li><a href="#/pages/team/general"><i class="fa fa-caret-right"></i><span data-i18n="General Information"></span></a>
        </li>
        <li><a href="#/pages/team/preferences"><i class="fa fa-caret-right"></i><span data-i18n="Marketplace Preferences"></span></a>
        </li>
        <li><a href="#/pages/team/skills"><i class="fa fa-caret-right"></i><span data-i18n="Skills &amp; Services"></span></a>
        </li>
        <li><a href="#/pages/team/background"><i class="fa fa-caret-right"></i><span data-i18n="Background Check"></span></a>
        </li>
      </ul>
    </li>
    <li><a href="#/ui"><i class="fa fa-pencil-square-o"><span class="icon-bg bg-info"></span></i><span data-i18n="Confirmation"></span></a>
    </li>
  </ul>
</div>
