<div class="page" ng-controller="AccountCtrl">
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Select Provider Networks</strong></div>
    <div class="panel-body">
      <p>Take advantage of opportunities by joining ServiceLive's Select Provider Networks (SPNs). SPNs are preferred relationships with ServiceLive's premium Buyers. <a href="">Learn More about SPNs</a></p>
      <p>Check out the SPN business activity for <a ng-click="openIndustry()">Home Electronics</a> in <a ng-click="openZipCode()">60179</a> in the last month!</p>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-profile">
            <div class="panel-heading bg-primary clearfix">
              <a href="" class="pull-left profile">
              <img alt="" src="images/shs-logo.png" class="img-circle img80_80">
              </a>
              <h3 class="ng-binding">Sears Home Services</h3>
              <p>SHS Home Electronics Entertainment SPN</p>
            </div>
            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge">712</span>
                <i class="fa fa-wrench"></i>
                Posted Jobs
              </li>
              <li class="list-group-item">
                <span class="badge badge-warning">$174</span>
                <i class="fa fa-dollar"></i>
                Average Price
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-profile">
            <div class="panel-heading bg-success clearfix">
              <a href="" class="pull-left profile">
              <img alt="" src="images/shs-logo.png" class="img-circle img80_80">
              </a>
              <h3 class="ng-binding">Sears Home Services</h3>
              <p>SHS Home Automation SPN</p>
            </div>
            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge">276</span>
                <i class="fa fa-wrench"></i>
                Posted Jobs
              </li>
              <li class="list-group-item">
                <span class="badge badge-warning">$129</span>
                <i class="fa fa-dollar"></i>
                Average Price
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script type="text/ng-template" id="myModalIndustry.html">
      <div class="modal-header">
          <h3>Change Industry</h3>
      </div>
      <div class="modal-body">
        <p>Vehicle to change the user&#39;s industry</p>
      </div>
    </script>
    <script type="text/ng-template" id="myModalZip.html">
      <div class="modal-header">
          <h3>Change Zip Code</h3>
      </div>
      <div class="modal-body">
        <p>Vehicle to change the user&#39;s zip code</p>
      </div>
    </script>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Account Information</strong></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="thumbnail">
            <h4>Your Address:</h4>
            <img alt="" src="images/map-01.png">
            <div class="caption">
              <div class="media">
                <div class="media-body">
                  <ul class="list-unstyled list-info">
                    <li>
                      <span class="icon glyphicon glyphicon-home"> </span>
                      230 S. Wacker Drive, STE#3301, Chicago IL 60606
                    </li>
                    <li>
                      <span class="icon glyphicon glyphicon-earphone"> </span>
                      312-555-1212
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <form class="form-horizontal ng-pristine ng-valid" role="form">
            <div class="form-group">
              <label for="coFullName" class="col-sm-2 control-label">Full Name</label>
              <div class="col-sm-10">
                <input class="form-control" id="coFullName" type="text">
              </div>
            </div>
            <div class="form-group">
              <label for="coEmail" class="col-sm-2 control-label">Email Address</label>
              <div class="col-sm-10">
                <input class="form-control" id="coEmail" type="email">
              </div>
            </div>
            <div class="form-group">
              <label for="coBusinessPhone" class="col-sm-2 control-label">Business Phone</label>
              <div class="col-sm-10">
                <div class="form-inline">
                  <input type="text" class="form-control" placeholder="Phone Number"/>
                  <input type="text" class="form-control" placeholder="Extension"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="coMobilePhone" class="col-sm-2 control-label">Mobile Phone</label>
              <div class="col-sm-10">
                <input class="form-control" id="coMobilePhone" type="tel">
              </div>
            </div>
            <div class="form-group">
              <label for="selectBestContact" class="col-sm-2 control-label">Best Phone for Service Inquiries</label>
              <div class="col-sm-10">
                <select class="form-control">
                  <option>Business Phone</option>
                  <option>Mobile Phone</option>
                  <option>Other Phone</option>
                </select>
                <p class="help-block">Select the best way to contact you for service inquiries.</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
