<div class="page" ng-controller="AdministratorCtrl">
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Administrator&#39;s Primary Contact Information</strong></div>
    <div class="panel-body">
      <p>By default the person who initiates the registration process is the ServiceLive account administrator. Based on the information already provided, we are a only a few clicks away from completing this process.</p>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Personal Information</strong></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="media">
                <a class="pull-left" href="javascript:;">
                <img alt="" src="images/assets/upload_image.jpg" class="img-rounded img64_64">
                </a>
                <div class="media-body">
                  <p>Most Buyers look for and may even require a photo for identification. Please upload an image of your team member when ready.</p>
                  <button class="btn btn-info btn-xs pull-right">ADD PHOTO</button>
                  <button class="btn btn-link btn-xs pull-right">GET HELP</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="panel panel-default">
            <div class="panel-body">
              <form class="form-horizontal ng-pristine ng-valid" role="form">
                <div class="form-group">
                  <label for="adLegalFirstName" class="col-sm-3 control-label">Legal First Name*</label>
                  <div class="col-sm-9">
                    <input class="form-control" id="adLegalFirstName" type="text" ng-model="companyFullNameFirst">
                  </div>
                </div>
                <div class="form-group">
                  <label for="adLegalLastName" class="col-sm-3 control-label">Legal Last Name*</label>
                  <div class="col-sm-9">
                    <input class="form-control" id="adLegalLastName" type="text" ng-model="companyFullNameLast">
                  </div>
                </div>
                <div class="form-group">
                  <label for="adMiddleName" class="col-sm-3 control-label">Middle Name</label>
                  <div class="col-sm-9">
                    <input class="form-control" id="adMiddleName" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label for="adSuffix" class="col-sm-3 control-label">Suffix</label>
                  <div class="col-sm-2">
                    <input class="form-control" id="adSuffix" type="text">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <blockquote>
            <p>Review the information and verify that it is correct. Failure to do so will result in a delay our ability to approve you and postpone your entry into the Marketplace.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Account Information</strong></div>
    <div class="panel-body">
      <form role="form" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2" for="adUsername">Username</label>
          <div class="col-sm-3"><input id="adUsername" class="form-control" type="text" ng-model="companyUsername" readonly></div>
        </div>
        <div class="form-group">
          <label class="col-sm-2">Email Address*</label>
          <div class="col-sm-5">
            <input type="email" class="form-control" ng-model="companyEmail">
            <div class="help">Email Address</div>
          </div>
          <div class="col-sm-5">
            <input type="email" class="form-control" ng-model="companyEmail">
            <div class="help">Confirm Email Address</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2" for="adJobTitle">Job Title</label>
          <div class="col-sm-10"><input id="adJobTitle" type="text" class="form-control"></div>
        </div>
      </form>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Account Role</strong></div>
    <div class="panel-body">
      <p><strong>What other responsibilities are you assigned within your company?</strong> <a>Get Help</a></p>
      <p>You can have more than one role.  As an administrative user, the <strong>Administrator</strong> role has already been selected for you.</p>
      <form role="form" class="form-horizontal">
        <dl class="dl-horizontal">
          <dt>Role</dt>
          <dd>
            <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option1" disabled checked><span>ADMINISTRATOR</span></label>
            <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option2"><span>SERVICE PROVIDER</span></label>
            <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option3"><span>OWNER / PRINCIPLE</span></label>
            <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option3"><span>DISPATCHER / SCHEDULER</span></label>
            <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option3"><span>MANAGER</span></label>
            <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option3"><span>SERVICE ASSISTANT</span></label>
          </dd>
        </dl>
        <hr>
        <div class="callout callout-danger">
          <p><strong>Will you be performing work in the ServiceLive Marketplace?</strong>* <a>Get Help</a></p>
          <dl class="dl-horizontal">
            <dt>Status</dt>
            <dd>
              <label class="ui-radio"><input name="radio1" type="radio" value="yes"><span>Yes</span></label>
              <label class="ui-radio"><input name="radio1" type="radio" value="no"><span>No</span></label>
            </dd>
          </dl>
        </div>
      </form>
    </div>
  </section>
  <a href="/#/pages/businessprofile" type="button" class="btn btn-w-md btn-gap-v btn-primary pull-right">Next - Business Profile</a>
</div>
