<div class="page">
  <section class="panel panel-default">
    <div class="panel-body">
      <h3>New Provider Firm Information</h3>
      <p>Confirm or enter in your business profile and contact information.</p>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Business Information</strong></div>
    <div class="panel-body">
      <form class="form-horizontal ng-pristine ng-valid" role="form">
        <div class="form-group">
          <label class="col-sm-2">Business Name*</label>
          <div class="col-sm-5">
            <input type="text" class="form-control">
            <div class="help">Legal Name</div>
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control">
            <div class="help">DBA Name</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2">Primary Industry*</label>
          <div class="col-sm-5">
            <span class="ui-select">
              <select>
                <option>Automotive</option>
                <option>Cabinets &amp; Countertops</option>
                <option>Carpentry &amp; Woodworking</option>
                <option>Cleaning Services</option>
                <option>Computer/Network Services</option>
                <option>Decorating</option>
                <option>Electrician</option>
                <option>Floors &amp; Patios</option>
                <option>Furniture Restoration</option>
                <option>Garage &amp; Shed</option>
                <option>General Plumbing &amp; Bathrooms</option>
                <option>Handyman Services</option>
                <option>Health &amp; Beauty</option>
                <option>Heating &amp; Cooling</option>
                <option>Home Appliances</option>
                <option>Home Electronics</option>
                <option>Lawn &amp; Garden</option>
                <option>Masonry &amp; Stone</option>
                <option>Musical Instrument Service</option>
                <option>Other Services</option>
                <option>Pet Care</option>
                <option>Photography</option>
                <option>Product Assembly</option>
                <option>Remodeling &amp; Construction</option>
                <option>Roofing, Gutters, Windows &amp; Siding</option>
                <option>Unclassified</option>
                <option>Walls &amp; Ceilings</option>
              </select>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2">Business Start*</label>
          <div class="col-sm-5">
            <input type="text" class="form-control">
            <div class="help">Date business started operations</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2">Business Structure* &amp; Size</label>
          <div class="col-sm-5">
            <span class="ui-select">
              <select>
                <option value="-Select Business Structure-">-Select Business Structure-</option>
                <option value="Sole Proprietor">Sole Proprietor</option>
                <option value="S Corporation">S Corporation</option>
                <option value="LLC">LLC</option>
                <option value="LLP">LLP</option>
                <option value="Corporation">Corporation</option>
                <option value="Partnership">Partnership</option>
                <option value="Independent Contractor">Independent Contractor</option>
              </select>
            </span>
          </div>
          <div class="col-sm-5">
            <span class="ui-select">
              <select>
                <option value="-Employees-">-Employees-</option>
                <option value="Sole Proprietor">Sole Proprietor</option>
                <option value="2 -10 Employees">2 -10 Employees</option>
                <option value="11-50 Employees">11-50 Employees</option>
                <option value="51-250 Employees">51-250 Employees</option>
                <option value="251-500 Employees">251-500 Employees</option>
                <option value="501-1000 Employees">501-1000 Employees</option>
                <option value="1000+ Employees">1000+ Employees</option>
                <option value="Prefer not to disclose">Prefer not to disclose</option>
              </select>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2">Contact for Service Inquiries</label>
          <div class="col-sm-5">
            <select class="form-control">
              <option>-- Select Method --</option>
              <option>Business Phone</option>
              <option>Mobile Phone</option>
              <option>Other Phone</option>
            </select>
            </span>
          </div>
        </div>
      </form>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Business Address</strong></div>
    <div class="panel-body">
      <form class="form-horizontal ng-pristine ng-valid" role="form">
        <div class="form-group">
          <label class="col-sm-2">Address*</label>
          <div class="col-sm-5">
            <input type="text" class="form-control">
            <div class="help">Address 1*</div>
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control">
            <div class="help">Address 2</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2"></label>
          <div class="col-sm-5">
            <input type="text" class="form-control">
            <div class="help">City*</div>
          </div>
          <div class="col-sm-3">
            <span class="ui-select">
              <select>
                <option>-- Select State --</option>
                <option>AL - Alabama</option>
                <option>AK - Alaska</option>
                <option>AZ - Arizona</option>
                <option>AR - Arkansas</option>
                <option>CA - California</option>
                <option>CO - Colorado</option>
                <option>CT - Connecticut</option>
                <option>DE - Delaware</option>
                <option>FL - Florida</option>
                <option>GA - Georgia</option>
                <option>HI - Hawaii</option>
                <option>ID - Idaho</option>
                <option>IL - Illinois</option>
                <option>IN - Indiana</option>
                <option>IA - Iowa</option>
                <option>KS - Kansas</option>
                <option>KY - Kentucky</option>
                <option>LA - Louisiana</option>
                <option>ME - Maine</option>
                <option>MD - Maryland</option>
                <option>MA - Massachusetts</option>
                <option>MI - Michigan</option>
                <option>MN - Minnesota</option>
                <option>MS - Mississippi</option>
                <option>MO - Missouri</option>
                <option>MT - Montana</option>
                <option>NE - Nebraska</option>
                <option>NV - Nevada</option>
                <option>NH - New Hampshire</option>
                <option>NJ - New Jersey</option>
                <option>NM - New Mexico</option>
                <option>NY - New York</option>
                <option>NC - North Carolina</option>
                <option>ND - North Dakota</option>
                <option>OH - Ohio</option>
                <option>OK - Oklahoma</option>
                <option>OR - Oregon</option>
                <option>PA - Pennsylvania</option>
                <option>RI - Rhode Island</option>
                <option>SC - South Carolina</option>
                <option>SD - South Dakota</option>
                <option>TN - Tennessee</option>
                <option>TX - Texas</option>
                <option>UT - Utah</option>
                <option>VT - Vermont</option>
                <option>VA - Virginia[G]</option>
                <option>WA - Washington</option>
                <option>WV - West Virginia</option>
                <option>WI - Wisconsin</option>
                <option>WY - Wyoming</option>
              </select>
            </span>
            <div class="help">State*</div>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control">
            <div class="help">Zip*</div>
          </div>
        </div>
      </form>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Mailing Address</strong></div>
    <div class="panel-body">
      <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option1"><span>Use Business Address as my Mailing Address.</span></label>
      <hr>
      <form class="form-horizontal ng-pristine ng-valid" role="form">
        <div class="form-group">
          <label class="col-sm-2">Address*</label>
          <div class="col-sm-5">
            <input type="text" class="form-control">
            <div class="help">Address 1*</div>
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control">
            <div class="help">Address 2</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2"></label>
          <div class="col-sm-5">
            <input type="text" class="form-control">
            <div class="help">City*</div>
          </div>
          <div class="col-sm-3">
            <span class="ui-select">
              <select>
                <option>-- Select State --</option>
                <option>AL - Alabama</option>
                <option>AK - Alaska</option>
                <option>AZ - Arizona</option>
                <option>AR - Arkansas</option>
                <option>CA - California</option>
                <option>CO - Colorado</option>
                <option>CT - Connecticut</option>
                <option>DE - Delaware</option>
                <option>FL - Florida</option>
                <option>GA - Georgia</option>
                <option>HI - Hawaii</option>
                <option>ID - Idaho</option>
                <option>IL - Illinois</option>
                <option>IN - Indiana</option>
                <option>IA - Iowa</option>
                <option>KS - Kansas</option>
                <option>KY - Kentucky</option>
                <option>LA - Louisiana</option>
                <option>ME - Maine</option>
                <option>MD - Maryland</option>
                <option>MA - Massachusetts</option>
                <option>MI - Michigan</option>
                <option>MN - Minnesota</option>
                <option>MS - Mississippi</option>
                <option>MO - Missouri</option>
                <option>MT - Montana</option>
                <option>NE - Nebraska</option>
                <option>NV - Nevada</option>
                <option>NH - New Hampshire</option>
                <option>NJ - New Jersey</option>
                <option>NM - New Mexico</option>
                <option>NY - New York</option>
                <option>NC - North Carolina</option>
                <option>ND - North Dakota</option>
                <option>OH - Ohio</option>
                <option>OK - Oklahoma</option>
                <option>OR - Oregon</option>
                <option>PA - Pennsylvania</option>
                <option>RI - Rhode Island</option>
                <option>SC - South Carolina</option>
                <option>SD - South Dakota</option>
                <option>TN - Tennessee</option>
                <option>TX - Texas</option>
                <option>UT - Utah</option>
                <option>VT - Vermont</option>
                <option>VA - Virginia[G]</option>
                <option>WA - Washington</option>
                <option>WV - West Virginia</option>
                <option>WI - Wisconsin</option>
                <option>WY - Wyoming</option>
              </select>
            </span>
            <div class="help">State*</div>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control">
            <div class="help">Zip*</div>
          </div>
        </div>
      </form>
    </div>
  </section>
  <a href="/#/pages/insurance" type="button" class="btn btn-w-md btn-gap-v btn-primary pull-right">Next - Insurance</a>
</div>
