<div class="page" ng-controller="CompanyNameCtrl">
  <section class="panel panel-primary">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Business Activity</strong></div>
    <div class="panel-body">
      <p>Check out the business activity for <a ng-click="openIndustry()">Home Electronics</a> in <a ng-click="openZipCode()">60179</a> in the last month!</p>
      <div class="row">
        <div class="col-lg-3 col-xsm-6">
          <div class="panel mini-box">
            <span class="box-icon bg-success">
            <i class="fa fa-wrench"></i>
            </span>
            <div class="box-info">
              <p class="size-h2">157</p>
              <p class="text-muted"><span data-i18n="Posted Jobs"></span></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
          <div class="panel mini-box">
            <span class="box-icon bg-warning">
            <i class="fa fa-dollar"></i>
            </span>
            <div class="box-info">
              <p class="size-h2">$237</p>
              <p class="text-muted"><span data-i18n="Average Price"></span></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xsm-12">
        </div>
      </div>
    </div>
    <script type="text/ng-template" id="myModalIndustry.html">
      <div class="modal-header">
          <h3>Change Industry</h3>
      </div>
      <div class="modal-body">
        <p>Vehicle to change the user&#39;s industry</p>
      </div>
    </script>
    <script type="text/ng-template" id="myModalZip.html">
      <div class="modal-header">
          <h3>Change Zip Code</h3>
      </div>
      <div class="modal-body">
        <p>Vehicle to change the user&#39;s zip code</p>
      </div>
    </script>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Company &amp; Legal Name</strong></div>
    <div class="panel-body">
      <p>If your company legal name is different from your business name, please enter it below.</p>
      <div class="form-group">
        <label for="" class="col-sm-2">Company Names</label>
        <div class="col-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-building-o"></i></span>
            <input class="form-control" placeholder="DBA Name (Doing Business As)" type="text" ng-model="companyDBAName">
          </div>
          <div class="divider"></div>
          <div class="input-group">
            <span class="input-group-addon" ng-click="clickLegalName()"><i class="fa fa-gavel"></i></span>
            <input class="form-control" placeholder="Legal Name" type="text" ng-model="companyLegalName">
          </div>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Select Your Location</strong></div>
    <div class="panel-body">
      <p>We found these business locations for you.  Select one or enter your primary physical address.</p>
      <p>I don't see my address. I'll enter one on my own. <button ng-click="openEnterAddress()" class="btn btn-info btn-xs">ENTER ADDRESS</button></p>
      <script type="text/ng-template" id="myModalEnterAddress.html">
        <div class="modal-header">
            <h3>Enter Address</h3>
        </div>
        <div class="modal-body">
          <p>Modal page to enable the user to enter an updated address.</p>
        </div>
      </script>
      <div class="row">
        <div class="col-sm-6">
          <div class="thumbnail">
            <h4>Address #1</h4>
            <img alt="" src="images/map-01.png">
            <div class="caption">
              <div class="media">
                <div class="media-body">
                  <ul class="list-unstyled list-info">
                    <li>
                      <span class="icon glyphicon glyphicon-home"> </span>
                      230 S. Wacker Drive, STE#3301, Chicago IL 60606
                    </li>
                    <li>
                      <span class="icon glyphicon glyphicon-earphone"> </span>
                      312-555-1212
                    </li>
                  </ul>
                </div>
              </div>
              <p><button ng-click="selectMe(1)" class="btn {{ selectButton1.color }}">{{ selectButton1.text }}</button></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="thumbnail">
            <h4>Address #2</h4>
            <img alt="" src="images/map-01.png">
            <div class="caption">
              <div class="media">
                <div class="media-body">
                  <ul class="list-unstyled list-info">
                    <li>
                      <span class="icon glyphicon glyphicon-home"> </span>
                      230 S. Wacker Drive, STE#3301, Chicago IL 60606
                    </li>
                    <li>
                      <span class="icon glyphicon glyphicon-earphone"> </span>
                      312-555-1212
                    </li>
                  </ul>
                </div>
              </div>
              <p><button ng-click="selectMe(2)" class="btn {{ selectButton2.color }}">{{ selectButton2.text }}</button></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="thumbnail">
            <h4>Address #3</h4>
            <img alt="" src="images/map-01.png">
            <div class="caption">
              <div class="media">
                <div class="media-body">
                  <ul class="list-unstyled list-info">
                    <li>
                      <span class="icon glyphicon glyphicon-home"> </span>
                      230 S. Wacker Drive, STE#3301, Chicago IL 60606
                    </li>
                    <li>
                      <span class="icon glyphicon glyphicon-earphone"> </span>
                      312-555-1212
                    </li>
                  </ul>
                </div>
              </div>
              <p><button ng-click="selectMe(3)" class="btn {{ selectButton3.color }}">{{ selectButton3.text }}</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <a type="button" class="btn btn-w-md btn-gap-v btn-primary pull-right" ng-click="nextPage()">Next - Account</a>
  <a type="button" class="btn btn-link pull-right">Save</a>
  <div ng-click="virtualType()" class="row">
    <i class="fa fa-keyboard-o"></i>
  </div>
</div>
