<div class="page" ng-controller="GetOrganizedCtrl">
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Get Organized</strong></div>
    <div class="panel-body">
      <div class="callout callout-info">
        <h4>Your Time</h4>
        <p>After collecting the documents you'll need to register, the process should take about 30 minutes.</p>
      </div>
      <h4>What You'll Need</h4>
      <p>You will need these documents or information about your business to get registered.</p>
      <ul>
        <li>Company legal name and DBA (doing business as) name</li>
        <li>Primary industry in which you do business such as "Home Electronics" or "General Plumbing"</li>
        <li>Main physical address</li>
        <li>Contact information such as phone numbers and email address</li>
        <li>Details for the person will be the Administrator for your ServiceLive account. <span class="highlight">We assume that's you!</span></li>
        <li>Information on your business insurance. Scan and upload your insurance certificate and we can automatically populate some of your data!</li>
        <li>Information for your first Pro.  If you're not going out and fulfilling on service, you'll need to <span class="highlight">enter at least one</span> Pro who will get a <span class="highlight">background check</span>.</li>
      </ul>
    </div>
  </section>
  <section class="panel panel-info">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-flash"></span> Jump In!</strong><div class="pull-right" ng-click="uploadStatusClick()" ng-bind-html="uploadStatusMarkup"></div></div>
    <div class="panel-body">
      <h4>Get a Jumpstart by Uploading a Document</h4>
      <p>Scan or take a picture of your insurance certificate.  We'll process it and pre-populate some of your information.</p>
      <div>
        <div class="drop-box">Drag and drop files here</div>
      </div>
    </div>
  </section>
  <a href="#/pages/companyname" type="button" class="btn btn-w-md btn-gap-v btn-primary pull-right">Next - Company Name</a>
</div>
