<div class="page" ng-controller="TeamSkillsCtrl">
<section class="panel panel-default">
  <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Skills &amp; Services</strong>
  </div>
  <div class="panel-body">
    <p>As an Admin you have indicated you will not perform work in the ServiceLive Platform. To get work routed to your firm you need at least one Service Provider or Pro entered.</p>
    <p>Please enter that Service Provider below. You can update or add to this Service Pro's details later.</p>
    <h5>Your Progress</h5>
    <div class="row">
      <div class="col-md-9">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress.now }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.now }}%;">
            On {{ progress.step }} of 4 steps
          </div>
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</section>
<section class="panel panel-default">
  <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Skills</strong>
  </div>
  <div class="panel-body">
    <p>Add your Pro's skills by category.</p>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-6">
              <form>
                <div class="form-group">
                  <label for="techSkillCategory">Select Skill Category</label>
                  <select id="techSkillCategory" ng-model="techSkillCategory" class="form-control">
                    <option value="-- All --">-- Select Skill Category --</option>
                    <option value="Automotive">Automotive</option>
                    <option value="Cabinets &amp; Countertops">Cabinets &amp; Countertops</option>
                    <option value="Carpentry &amp; Woodworking">Carpentry &amp; Woodworking</option>
                    <option value="Cleaning Services">Cleaning Services</option>
                    <option value="Computer/Network Services">Computer/Network Services</option>
                    <option value="Decorating">Decorating</option>
                    <option value="Electrician">Electrician</option>
                    <option value="Floors &amp; Patios">Floors &amp; Patios</option>
                    <option value="Furniture Restoration">Furniture Restoration</option>
                    <option value="Garage &amp; Shed">Garage &amp; Shed</option>
                    <option value="General Plumbing &amp; Bathrooms">General Plumbing &amp; Bathrooms</option>
                    <option value="Handyman Services">Handyman Services</option>
                    <option value="Health &amp; Beauty">Health &amp; Beauty</option>
                    <option value="Heating &amp; Cooling">Heating &amp; Cooling</option>
                    <option value="Home Appliances">Home Appliances</option>
                    <option value="Home Electronics">Home Electronics</option>
                    <option value="Lawn &amp; Garden">Lawn &amp; Garden</option>
                    <option value="Masonry &amp; Stone">Masonry &amp; Stone</option>
                    <option value="Musical Instrument Service">Musical Instrument Service</option>
                    <option value="Other Services">Other Services</option>
                    <option value="Pet Care">Pet Care</option>
                    <option value="Photography">Photography</option>
                    <option value="Product Assembly">Product Assembly</option>
                    <option value="Remodeling &amp; Construction">Remodeling &amp; Construction</option>
                    <option value="Roofing, Gutters, Windows &amp; Siding">Roofing, Gutters, Windows &amp; Siding</option>
                    <option value="Unclassified">Unclassified</option>
                    <option value="Walls &amp; Ceilings">Walls &amp; Ceilings</option>
                  </select>
                  <p class="help-block">Select a Skill Catetory and add a skill set</p>
                </div>
                <button type="submit" ng-click="openSkillsetModal()" class="btn btnsmall btn-warning">ADD</button>
              </form>
              <div ng-show="showListEnteredSkills">
                <hr>
                <label for="listEnteredSkills">Skill Categories</label>
                <div id="listEnteredSkills" class="list-group">
                  <a class="list-group-item">Home Electronics <span class="badge">14</span></a>
                </div>
                <p>Skills assigned to your Pro</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<script type="text/ng-template" id="myModalSkillset.html">
  <div class="modal-body">
    <section class="panel panel-default">
      <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Edit {{ insuranceName }} Insurance Details</strong></div>
      <div class="panel-body">
        <div class="row">
          <img src="images/assets/skills_page.jpg">
        </div>
      </div>
    </section>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>

<a href="/#/pages/team/background" type="button" class="btn btn-w-md btn-gap-v btn-primary pull-right">Next - Background Check</a>
<a type="button" class="btn btn-link pull-right">Save</a>
<div ng-click="virtualType()" class="row">
<i class="fa fa-keyboard-o"></i>
</div>
</div>
