<div class="page" ng-controller="TeamBackgroundCtrl">
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Background Screen</strong>
    </div>
    <div class="panel-body">
      <p>As an Admin you have indicated you will not perform work in the ServiceLive Platform. To get work routed to your firm you need at least one Service Provider or Pro entered.</p>
      <p>Please enter that Service Provider below. You can update or add to this Service Pro's details later.</p>
      <h5>Your Progress</h5>
      <div class="row">
        <div class="col-md-9">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress.now }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.now }}%;">
              On {{ progress.step }} of 4 steps
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Background Check</strong>
      <span class="pull-right">Status:&nbsp;&nbsp;<span class="label label-default">NOT STARTED</span></span>
    </div>
    <div class="panel-body">
      <h4>Why do we do background checks?</h4>
      <p>Since most service orders require a home visit, to ensure continued highest quality we require that all of our Service Pro undergo a background check. This requires these easy steps:</p>
      <ol>
        <li>Explain the process and gain approval from the Service Pro to submit their background check.</li>
        <li>Click the Perform Background Check button to open the background check process form. Complete and submit.</li>
        <li>Your team member's status will be automatically update when the background check results come back. Average turn around time for results is 7-10 days.</li>
      </ol>
      <p><strong>NOTE:</strong> Administrators not performing work in the field and Dispatchers are not required to do a background check.</p>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Conduct Background Check</strong>
    </div>
    <div class="panel-body">
      <p>To complete a background check enter your Pro's Social Security Number</p>
      <form>
        <div class="col-md-4">
          <div class="form-group">
            <label for="techSSN">Social Security Number (SSN)*</label>
            <input class="form-control" type="text" id="techSSN" ng-model="techSSN">
          </div>
          <button ng-click="" class="btn btn-xs btn-primary">SAVE</button>
        </div>
      </form>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Conduct Background Check</strong>
    </div>
    <div class="panel-body">
      <p>Conduct the background on behalf of the Service Pro OR send an email to them to complete the background check process.</p>
      <div class="well well-sm">
        <h4>Conduct the Background Check:</h4>
        <p>I will start and complete the background check on behalf of my Service Pro.</p>
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <button class='btn btn-block btn-info'>START BACKGROUND CHECK</button>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>
      <h4 class="text-center">OR</h4>
      <div class="well well-sm">
        <h4>Send Email Request to Service Pro:</h4>
        <p>Email a link to complete a background check my Pro.</p>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-md-12">Primary Email Address*</label>
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="techPrimaryEmail1">
              <div class="help">Enter Primary Email address</div>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="techPrimaryEmail2">
              <div class="help">Confirm Primary Email address</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-12">Alternate Email Address*</label>
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="techAlternateEmail1">
              <div class="help">Enter Alternate Email address</div>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="techAlternateEmail2">
              <div class="help">Confirm Alternate Email address</div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <button class='btn btn-block btn-info'>SEND BACKGROUND REQUEST</button>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>
    </div>
  </section>

  <a href="/#/pages/team/background" type="button" class="btn btn-w-md btn-gap-v btn-primary pull-right">Submit</a>
  <a type="button" class="btn btn-link pull-right">Save</a>
  <div ng-click="virtualType()" class="row">
    <i class="fa fa-keyboard-o"></i>
  </div>
</div>
