.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
}
.myopague5{
  opacity: 0.5;
}
.myopague6{
  opacity: 0.6;
}
.myopague7{
  opacity: 0.7;
}
.myopague8{
  opacity: 0.8;
}
.myopague9{
  opacity: 0.9;
}
.myopague10{
  opacity: 1.0;
}
